XML File

In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
from lxml import objectify

In [3]:
path = 'mondial-3.0.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [4]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.country:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.text
    data.append(el_data)

In [5]:
perf = pd.DataFrame(data)
perf = perf.replace('\n','', regex=True)

perf

,name,city,ethnicgroups,religions,encompassed,border,province,languages
0,Albania,NaN,Albanian,Albanian Orthodox,None,NaN,NaN,NaN
1,Andorra,NaN,Andorran,Roman Catholic,None,NaN,NaN,NaN
2,Austria,NaN,Croatian,Protestant,None,NaN,NaN,German
3,Belarus,NaN,Byelorussian,Eastern Orthodox,None,NaN,NaN,NaN
4,Belgium,NaN,Walloon,Protestant,None,NaN,NaN,Dutch
...,...,...,...,...,...,...,...,...
226,Uganda,NaN,Batobo,Protestant,None,NaN,NaN,NaN
227,Western Sahara,NaN,NaN,Muslim,None,NaN,NaN,NaN
228,Zaire,NaN,Mangbetu-Azande,Kimbanguist,None,NaN,NaN,NaN
229,Zambia,NaN,African,Muslim Hindu,None,NaN,NaN,NaN
230,Zimbabwe,NaN,African,Christian,None,NaN,NaN,NaN

In [6]:
perf.dropna(axis=1, how='all')

,name,ethnicgroups,religions,languages
0,Albania,Albanian,Albanian Orthodox,NaN
1,Andorra,Andorran,Roman Catholic,NaN
2,Austria,Croatian,Protestant,German
3,Belarus,Byelorussian,Eastern Orthodox,NaN
4,Belgium,Walloon,Protestant,Dutch
...,...,...,...,...
226,Uganda,Batobo,Protestant,NaN
227,Western Sahara,NaN,Muslim,NaN
228,Zaire,Mangbetu-Azande,Kimbanguist,NaN
229,Zambia,African,Muslim Hindu,NaN
230,Zimbabwe,African,Christian,NaN

In [7]:
perf

,name,city,ethnicgroups,religions,encompassed,border,province,languages
0,Albania,NaN,Albanian,Albanian Orthodox,None,NaN,NaN,NaN
1,Andorra,NaN,Andorran,Roman Catholic,None,NaN,NaN,NaN
2,Austria,NaN,Croatian,Protestant,None,NaN,NaN,German
3,Belarus,NaN,Byelorussian,Eastern Orthodox,None,NaN,NaN,NaN
4,Belgium,NaN,Walloon,Protestant,None,NaN,NaN,Dutch
...,...,...,...,...,...,...,...,...
226,Uganda,NaN,Batobo,Protestant,None,NaN,NaN,NaN
227,Western Sahara,NaN,NaN,Muslim,None,NaN,NaN,NaN
228,Zaire,NaN,Mangbetu-Azande,Kimbanguist,None,NaN,NaN,NaN
229,Zambia,NaN,African,Muslim Hindu,None,NaN,NaN,NaN
230,Zimbabwe,NaN,African,Christian,None,NaN,NaN,NaN

In [8]:
perf.dropna(axis=1, how='all')
perf.set_index('name')

perf.head()

,name,city,ethnicgroups,religions,encompassed,border,province,languages
0,Albania,NaN,Albanian,Albanian Orthodox,None,NaN,NaN,NaN
1,Andorra,NaN,Andorran,Roman Catholic,None,NaN,NaN,NaN
2,Austria,NaN,Croatian,Protestant,None,NaN,NaN,German
3,Belarus,NaN,Byelorussian,Eastern Orthodox,None,NaN,NaN,NaN
4,Belgium,NaN,Walloon,Protestant,None,NaN,NaN,Dutch

In [12]:
perf.rename({"ethnicgroups":"ethnic groups"},axis=1, inplace=True)

perf

,name,city,ethnic groups,religions,encompassed,border,province,languages
0,Albania,NaN,Albanian,Albanian Orthodox,None,NaN,NaN,NaN
1,Andorra,NaN,Andorran,Roman Catholic,None,NaN,NaN,NaN
2,Austria,NaN,Croatian,Protestant,None,NaN,NaN,German
3,Belarus,NaN,Byelorussian,Eastern Orthodox,None,NaN,NaN,NaN
4,Belgium,NaN,Walloon,Protestant,None,NaN,NaN,Dutch
...,...,...,...,...,...,...,...,...
226,Uganda,NaN,Batobo,Protestant,None,NaN,NaN,NaN
227,Western Sahara,NaN,NaN,Muslim,None,NaN,NaN,NaN
228,Zaire,NaN,Mangbetu-Azande,Kimbanguist,None,NaN,NaN,NaN
229,Zambia,NaN,African,Muslim Hindu,None,NaN,NaN,NaN
230,Zimbabwe,NaN,African,Christian,None,NaN,NaN,NaN

In [14]:
perf.head()

,name,city,ethnic groups,religions,encompassed,border,province,languages
0,Albania,NaN,Albanian,Albanian Orthodox,None,NaN,NaN,NaN
1,Andorra,NaN,Andorran,Roman Catholic,None,NaN,NaN,NaN
2,Austria,NaN,Croatian,Protestant,None,NaN,NaN,German
3,Belarus,NaN,Byelorussian,Eastern Orthodox,None,NaN,NaN,NaN
4,Belgium,NaN,Walloon,Protestant,None,NaN,NaN,Dutch

In [19]:
231 - (perf['ethnic groups'].isnull().sum())

183

183 different ethnic groups are there in the dataset

In [20]:
perf['languages'].describe()

count                      74
unique                     38
top              English
freq                       18
Name: languages, dtype: object

English language is the most common.

JSON File

In [48]:
import pandas as pd
import json

In [49]:
reps_df = pd.read_json('USRepresentatives.json')

reps_df.columns

Index(['caucus', 'congress_numbers', 'current', 'description', 'district',
       'enddate', 'extra', 'leadership_title', 'party', 'person', 'phone',
       'role_type', 'role_type_label', 'senator_class', 'senator_rank',
       'startdate', 'state', 'title', 'title_long', 'website'],
      dtype='object')

In [60]:
reps_df = pd.read_json('USRepresentatives.json')

reps_df

,caucus,congress_numbers,current,description,district,enddate,extra,leadership_title,party,person,phone,role_type,role_type_label,senator_class,senator_rank,startdate,state,title,title_long,website
0,NaN,[117],True,Representative for Alabama's 4th congressional...,4,2023-01-03,{'address': '266 Cannon House Office Building ...,None,Republican,"{'bioguideid': 'A000055', 'birthday': '1965-07...",202-225-4876,representative,Representative,NaN,NaN,2021-01-03,AL,Rep.,Representative,https://aderholt.house.gov
1,NaN,[117],True,Representative for California's 37th congressi...,37,2023-01-03,{'address': '2021 Rayburn House Office Buildin...,None,Democrat,"{'bioguideid': 'B001270', 'birthday': '1953-10...",202-225-7084,representative,Representative,NaN,NaN,2021-01-03,CA,Rep.,Representative,https://bass.house.gov
2,NaN,[117],True,Representative for Florida's 12th congressiona...,12,2023-01-03,{'address': '2354 Rayburn House Office Buildin...,None,Republican,"{'bioguideid': 'B001257', 'birthday': '1963-02...",202-225-5755,representative,Representative,NaN,NaN,2021-01-03,FL,Rep.,Representative,https://bilirakis.house.gov
3,NaN,[117],True,Representative for Georgia's 2nd congressional...,2,2023-01-03,{'address': '2407 Rayburn House Office Buildin...,None,Democrat,"{'bioguideid': 'B000490', 'birthday': '1947-02...",202-225-3631,representative,Representative,NaN,NaN,2021-01-03,GA,Rep.,Representative,https://bishop.house.gov
4,NaN,[117],True,Representative for Oregon's 3rd congressional ...,3,2023-01-03,{'address': '1111 Longworth House Office Build...,None,Democrat,"{'bioguideid': 'B000574', 'birthday': '1948-08...",202-225-4811,representative,Representative,NaN,NaN,2021-01-03,OR,Rep.,Representative,https://blumenauer.house.gov
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,NaN,[117],True,Representative for Utah's 4th congressional di...,4,2023-01-03,{'address': '1039 Longworth House Office Build...,None,Republican,"{'bioguideid': 'O000086', 'birthday': '1951-08...",202-225-3011,representative,Representative,NaN,NaN,2021-01-03,UT,Rep.,Representative,https://owens.house.gov
433,NaN,[117],True,Representative for Virginia's 5th congressiona...,5,2023-01-03,{'address': '1213 Longworth House Office Build...,None,Republican,"{'bioguideid': 'G000595', 'birthday': '1965-09...",202-225-4711,representative,Representative,NaN,NaN,2021-01-03,VA,Rep.,Representative,https://good.house.gov
434,NaN,[117],True,Representative for Washington's 10th congressi...,10,2023-01-03,{'address': '1004 Longworth House Office Build...,None,Democrat,"{'bioguideid': 'S001159', 'birthday': '1962-09...",202-225-9740,representative,Representative,NaN,NaN,2021-01-03,WA,Rep.,Representative,https://strickland.house.gov
435,NaN,[117],True,Representative for Wisconsin's 5th congression...,5,2023-01-03,{'address': '1507 Longworth House Office Build...,None,Republican,"{'bioguideid': 'F000471', 'birthday': '1963-11...",202-225-5101,representative,Representative,NaN,NaN,2021-01-03,WI,Rep.,Representative,https://fitzgerald.house.gov
436,NaN,[117],True,Representative for New York's 22nd congression...,22,2023-01-03,{'address': '1410 Longworth House Office Build...,None,Republican,"{'bioguideid': 'T000478', 'birthday': '1961-02...",202-225-3665,representative,Representative,NaN,NaN,2021-02-11,NY,Rep.,Representative,https://tenney.house.gov

In [63]:
reps_df.drop(reps_df.columns.difference(['person','state','district','party','website']), 1, inplace=True)

reps_df

,district,party,person,state,website
0,4,Republican,"{'bioguideid': 'A000055', 'birthday': '1965-07...",AL,https://aderholt.house.gov
1,37,Democrat,"{'bioguideid': 'B001270', 'birthday': '1953-10...",CA,https://bass.house.gov
2,12,Republican,"{'bioguideid': 'B001257', 'birthday': '1963-02...",FL,https://bilirakis.house.gov
3,2,Democrat,"{'bioguideid': 'B000490', 'birthday': '1947-02...",GA,https://bishop.house.gov
4,3,Democrat,"{'bioguideid': 'B000574', 'birthday': '1948-08...",OR,https://blumenauer.house.gov
...,...,...,...,...,...
432,4,Republican,"{'bioguideid': 'O000086', 'birthday': '1951-08...",UT,https://owens.house.gov
433,5,Republican,"{'bioguideid': 'G000595', 'birthday': '1965-09...",VA,https://good.house.gov
434,10,Democrat,"{'bioguideid': 'S001159', 'birthday': '1962-09...",WA,https://strickland.house.gov
435,5,Republican,"{'bioguideid': 'F000471', 'birthday': '1963-11...",WI,https://fitzgerald.house.gov
436,22,Republican,"{'bioguideid': 'T000478', 'birthday': '1961-02...",NY,https://tenney.house.gov

In [64]:
reps_df["last name"] = pd.NaT
reps_df["first name"] = pd.NaT
reps_df["birthday"] = pd.NaT

reps_df

,district,party,person,state,website,last name,first name,birthday
0,4,Republican,"{'bioguideid': 'A000055', 'birthday': '1965-07...",AL,https://aderholt.house.gov,NaT,NaT,NaT
1,37,Democrat,"{'bioguideid': 'B001270', 'birthday': '1953-10...",CA,https://bass.house.gov,NaT,NaT,NaT
2,12,Republican,"{'bioguideid': 'B001257', 'birthday': '1963-02...",FL,https://bilirakis.house.gov,NaT,NaT,NaT
3,2,Democrat,"{'bioguideid': 'B000490', 'birthday': '1947-02...",GA,https://bishop.house.gov,NaT,NaT,NaT
4,3,Democrat,"{'bioguideid': 'B000574', 'birthday': '1948-08...",OR,https://blumenauer.house.gov,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...
432,4,Republican,"{'bioguideid': 'O000086', 'birthday': '1951-08...",UT,https://owens.house.gov,NaT,NaT,NaT
433,5,Republican,"{'bioguideid': 'G000595', 'birthday': '1965-09...",VA,https://good.house.gov,NaT,NaT,NaT
434,10,Democrat,"{'bioguideid': 'S001159', 'birthday': '1962-09...",WA,https://strickland.house.gov,NaT,NaT,NaT
435,5,Republican,"{'bioguideid': 'F000471', 'birthday': '1963-11...",WI,https://fitzgerald.house.gov,NaT,NaT,NaT
436,22,Republican,"{'bioguideid': 'T000478', 'birthday': '1961-02...",NY,https://tenney.house.gov,NaT,NaT,NaT

In [65]:
reps_df['person'].dropna(how=all, inplace=True)

In [66]:
del reps_df['person']

reps_df

,district,party,state,website,last name,first name,birthday
0,4,Republican,AL,https://aderholt.house.gov,NaT,NaT,NaT
1,37,Democrat,CA,https://bass.house.gov,NaT,NaT,NaT
2,12,Republican,FL,https://bilirakis.house.gov,NaT,NaT,NaT
3,2,Democrat,GA,https://bishop.house.gov,NaT,NaT,NaT
4,3,Democrat,OR,https://blumenauer.house.gov,NaT,NaT,NaT
...,...,...,...,...,...,...,...
432,4,Republican,UT,https://owens.house.gov,NaT,NaT,NaT
433,5,Republican,VA,https://good.house.gov,NaT,NaT,NaT
434,10,Democrat,WA,https://strickland.house.gov,NaT,NaT,NaT
435,5,Republican,WI,https://fitzgerald.house.gov,NaT,NaT,NaT
436,22,Republican,NY,https://tenney.house.gov,NaT,NaT,NaT

In [67]:
reps_df.set_index(['state','district'])

,,party,website,last name,first name,birthday
state,district,,,,,
AL,4,Republican,https://aderholt.house.gov,NaT,NaT,NaT
CA,37,Democrat,https://bass.house.gov,NaT,NaT,NaT
FL,12,Republican,https://bilirakis.house.gov,NaT,NaT,NaT
GA,2,Democrat,https://bishop.house.gov,NaT,NaT,NaT
OR,3,Democrat,https://blumenauer.house.gov,NaT,NaT,NaT
...,...,...,...,...,...,...
UT,4,Republican,https://owens.house.gov,NaT,NaT,NaT
VA,5,Republican,https://good.house.gov,NaT,NaT,NaT
WA,10,Democrat,https://strickland.house.gov,NaT,NaT,NaT
WI,5,Republican,https://fitzgerald.house.gov,NaT,NaT,NaT
NY,22,Republican,https://tenney.house.gov,NaT,NaT,NaT

In [68]:
reps_df.set_index(['last name','first name','birthday'], inplace=True)

reps_df

                               district       party state  \
last name first name birthday
NaT       NaT        NaT              4  Republican    AL
                     NaT             37    Democrat    CA
                     NaT             12  Republican    FL
                     NaT              2    Democrat    GA
                     NaT              3    Democrat    OR
...                                 ...         ...   ...
                     NaT              4  Republican    UT
                     NaT              5  Republican    VA
                     NaT             10    Democrat    WA
                     NaT              5  Republican    WI
                     NaT             22  Republican    NY

                                                    website
last name first name birthday
NaT       NaT        NaT         https://aderholt.house.gov
                     NaT             https://bass.house.gov
                     NaT        https://bilirakis.house.gov
                     NaT           https://bishop.house.gov
                     NaT       https://blumenauer.house.gov
...                                                     ...
                     NaT            https://owens.house.gov
                     NaT             https://good.house.gov
                     NaT       https://strickland.house.gov
                     NaT       https://fitzgerald.house.gov
                     NaT           https://tenney.house.gov

[437 rows x 4 columns]

In [69]:
reps_df.sort_values("state")

                               district       party state  \
last name first name birthday
NaT       NaT        NaT              0  Republican    AK
                     NaT              4  Republican    AL
                     NaT              7    Democrat    AL
                     NaT              3  Republican    AL
                     NaT              5  Republican    AL
...                                 ...         ...   ...
                     NaT              6  Republican    WI
                     NaT              1  Republican    WV
                     NaT              3  Republican    WV
                     NaT              2  Republican    WV
                     NaT              0  Republican    WY

                                                    website
last name first name birthday
NaT       NaT        NaT         https://donyoung.house.gov
                     NaT         https://aderholt.house.gov
                     NaT           https://sewell.house.gov
                     NaT       https://mikerogers.house.gov
                     NaT           https://brooks.house.gov
...                                                     ...
                     NaT         https://grothman.house.gov
                     NaT         https://mckinley.house.gov
                     NaT           https://miller.house.gov
                     NaT           https://mooney.house.gov
                     NaT           https://cheney.house.gov

[437 rows x 4 columns]

In [70]:
reps_df.head()

                               district       party state  \
last name first name birthday
NaT       NaT        NaT              4  Republican    AL
                     NaT             37    Democrat    CA
                     NaT             12  Republican    FL
                     NaT              2    Democrat    GA
                     NaT              3    Democrat    OR

                                                    website
last name first name birthday
NaT       NaT        NaT         https://aderholt.house.gov
                     NaT             https://bass.house.gov
                     NaT        https://bilirakis.house.gov
                     NaT           https://bishop.house.gov
                     NaT       https://blumenauer.house.gov

I have already deleted the column titled person in way way that it won't be retainable. Therefore, it is not possible to answer the question number 4.